$linkHeight: 100px;

.single-link {
  width: 100px;
  height: $linkHeight;

  display: inline-flex;

  border: 1px solid #fff;
  text-align: center;
  justify-content: center;
}

p {
  margin: auto;
}

.addLink-btn {
  color: transparent;
  background-color: transparent;
  height: $linkHeight;
  justify-content: center;
}

.main-div {
  display: flex;
}

.counter {
  margin-top: 25px;
}

.input {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 25px;
  color: white !important;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiFormControl-root {
  color: white !important;
}

.MuiTextField-root {
  color: white !important;
}
